<div class="row">
    <div class="col-md-12" style="margin-bottom: 10px;">
        <div class="reportContainer iframeContainer active" style="height: 480px" id="reportContainer"></div>
        @*<iframe width="100%" height="100%"
                src="https://app.powerbi.com/view?r=eyJrIjoiMWYzNGJmNzItYTNhYy00MTJmLTg0NzItNzI3Mzk0Y2JjNTY2IiwidCI6ImRkNjUxYmFkLThkNmUtNDE2YS1iMWM2LTY2MzNhZTEyOTFmMCJ9&pageName=ReportSection3ebe55a05041336b2017"
                frameborder="0" allowFullScreen="true"></iframe>*@
    </div>
</div>
<script src="~/js/powerbi.js"></script>
<script src="~/js/signalr.js"></script>
<script type="text/javascript">
    var accessToken;
    var embedUrl;
    var reportId;
// Configure IFrame for the Report after you have an Access Token.var report;
window.onload = function () {
    accessToken = '@ViewBag.AccessToken';
    embedUrl = '@ViewBag.EmbedUrl';
    reportId = '@ViewBag.ReportId';
    BindReport();
};
</script>
<script src="~/js/Custom/report.js"></script>