<div class="row">
    <div class="col-md-12" style="margin-bottom: 10px;">
        <div class="reportContainer iframeContainer active" style="height: 480px" id="reportContainer"></div>
    </div>
</div>
<script src="~/js/powerbi.js"></script>
<script src="~/js/signalr.js"></script>
<script type="text/javascript">
    var accessToken;
    var embedUrl;
    var reportId;
// Configure IFrame for the Report after you have an Access Token.var report;
window.onload = function () {
    accessToken = '@ViewBag.AccessToken';
    embedUrl = '@ViewBag.EmbedUrl';
    reportId = '@ViewBag.ReportId';
    BindReport();
};
</script>
<script src="~/js/Custom/report.js"></script>